# ---- Python ----
__pycache__/
*.py[cod]
*.so
*.egg-info/
.env
.venv
venv/

# ---- Windows System ----
.DS_Store
Thumbs.db

# ---- Visual Studio Code ----
.vscode/

# ---- Node ----
node_modules/
npm-debug.log
yarn-error.log

# Data
data/
data_preprocessed/
